<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title><%= title %></title>
    <link href="/stylesheets/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_index.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_registerlist.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="big_title"><%= title %></div>
      <div class="user_area">
        <div class="username_area"><%= userdata.username %></div>
        <input type="hidden" class="hidden_username" value="<%= userdata.username %>" disabled="disabled">
        <input type="hidden" class="hidden_usertype" value="<%= userdata.usertype %>" disabled="disabled">
        <div class="toggle_box" style="display:none;">
          <div class="toggle_block logout_area">退出登录</div>
        </div>
      </div>
    </div>
    <div class="nav_bar">
      <div class="nav_bar_blank"></div>
      <div class="nav_bar_select redirect_infocheck_button">信息审核</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_offer_infocheck_button admin_infocheck">职位审核</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_reg_infocheck_button admin_infocheck">注册审核</div>
      </div>
      <div class="nav_bar_select redirect_search_button">检索</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_offer_search_button admin_search">职位搜索</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_resume_search_button admin_search">简历搜索</div>
      </div>
    </div>
    <div class="body">
      <div class="registerlist_box">
        <ul class="list_title">
          <li class="list_title_column">公司名</li>
          <li class="list_title_column">公司法人</li>
          <li class="list_title_column">公司类型</li>
          <li class="list_title_column">审核操作</li>
        </ul>
        <% for (var i in registerList){ %>
        <ul class="list_row">
          <li class="list_column"><a><%= registerList[i].companyname %></a></li>
          <li class="list_column"><a><%= registerList[i].representative %></a></li>
          <li class="list_column"><a style="font-size: 14px;"><%= registerList[i].address %></a></li>
          <li class="list_column">
            <a class="opt_click" onclick="toRegApprove('<%= registerList[i].username %>')">通过</a>
            <a style="color: black">|</a>
            <a class="opt_click" onclick="toRegDelete('<%= registerList[i].username %>')">不通过</a></li>
        </ul>
        <% } %>
      </div>
      <div class="page_box">
        <div class="pre_page_btn">
          &nbsp;
          <% if (page > 1){ %>
          <a href="?page=<%= parseInt(page)-1 %>">上一页</a>
          <% } %>
        </div>
        <div class="page_text">
          <a "><%= page %></a>
        </div>
        <div class="next_page_btn">
          <% if (page < maxpage){ %>
          <a href="?page=<%= parseInt(page)+1 %>">下一页</a>
          <% } %>
          &nbsp;
        </div>
      </div>
    </div>
    <div class="footer">developed by cqh&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </body>
</html>
