<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title><%= title %></title>
    <link href="/stylesheets/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_index.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_search.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="big_title"><%= title %></div>
      <div class="user_area">
        <div class="username_area"><%= userdata.username %></div>
        <input type="hidden" class="hidden_username" value="<%= userdata.username %>" disabled="disabled">
        <input type="hidden" class="hidden_usertype" value="<%= userdata.usertype %>" disabled="disabled">
        <div class="toggle_box" style="display:none;">
          <% if(userdata.usertype != 'admin'){ %>
          <div class="toggle_block modinfo_area admin_need_hide">修改信息</div>
          <div class="toggle_block chgpwd_area admin_need_hide">修改密码</div>
          <% } %>
          <div class="toggle_block logout_area">退出登录</div>
        </div>
      </div>
    </div>
    <div class="nav_bar">
      <div class="nav_bar_blank"></div>
      <% if (userdata.usertype == 'person'){ %>
      <div class="nav_bar_select redirect_resume_button">简历管理</div>
      <div class="nav_bar_select redirect_jobsearch_button">职位搜索</div>
      <div class="nav_bar_select redirect_apprecord_button">申请记录</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_my_apprecord_button">我的申请</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_rcv_apprecord_button">收到的申请</div>
      </div>
      <% }else if (userdata.usertype == 'company') { %>
      <div class="nav_bar_select redirect_jobmgmt_button">职位管理</div>
      <div class="nav_bar_select redirect_appmgmt_button">应聘管理</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_my_appmgmt_button">我的投递</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_rcv_appmgmt_button">收到的应聘</div>
      </div>
      <div class="nav_bar_select redirect_peoplesearch_button" style="border:0; border-bottom:2px solid white; color:white;">人才检索</div>
      <% }else { %>
      <div class="nav_bar_select redirect_infocheck_button">信息审核</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_offer_infocheck_button admin_infocheck">职位审核</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_reg_infocheck_button admin_infocheck">注册审核</div>
      </div>
      <div class="nav_bar_select redirect_search_button" style="border:0; border-bottom:2px solid white; color:white;">检索</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_offer_search_button admin_search">职位搜索</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_resume_search_button admin_search">简历搜索</div>
      </div>
      <% } %>
    </div>
    <div class="body_flexible">
      <div class="search_box">
        <div class="search_bar_box">
          <div class="search_line">
            <div class="search_option_text">学历</div>
            <select class="search_option_select select_education">
              <option value=""></option>
              <option value="11">博士研究生</option>
              <option value="12">博士研究生结业</option>
              <option value="13">博士研究生肄业</option>
              <option value="14">硕士研究生</option>
              <option value="15">硕士研究生结业</option>
              <option value="16">硕士研究生肄业</option>
              <option value="17">研究生班</option>
              <option value="18">研究生班结业</option>
              <option value="19">研究生班肄业</option>
              <option value="20">大学本科</option>
              <option value="21">大学本科结业</option>
              <option value="22">大学本科肄业</option>
              <option value="23">大学普通班</option>
              <option value="24">大学专科</option>
              <option value="25">大学专科结业</option>
              <option value="26">大学专科肄业</option>
              <option value="27">高职</option>
              <option value="28">高职结业</option>
              <option value="29">高职肄业</option>
              <option value="30">中等专科</option>
              <option value="31">中等专科结业</option>
              <option value="32">中等专科肄业</option>
            </select>
            <div class="search_option_blank">&nbsp;</div>
            <div class="search_option_text double">工作经验(年)</div>
            <input class="search_option_input" id="experience" type="text" name="experience" value="<%= searchData.experience %>">
            <div class="search_btn" onclick="resumeSearch()">搜索</div>
          </div>
          <div class="search_line">
            <div class="search_option_text">岗位</div>
            <select class="search_option_select select_industry" onchange="industryChange(this.value)">
              <option value selected="selected"></option>
              <option value="010000">计算机/互联网/通信/电子</option>
              <option value="020000">销售/客服/技术支持</option>
              <option value="030000">会计/金融/银行/保险</option>
              <option value="040000">生产/营运/采购/物流</option>
              <option value="050000">生物/制药/医疗/护理</option>
              <option value="060000">广告/市场/媒体/艺术</option>
              <option value="070000">建筑/房地产</option>
              <option value="080000">人事/行政/高级管理</option>
              <option value="090000">咨询/法律/教育/科研</option>
              <option value="100000">服务业</option>
              <option value="110000">公务员/翻译/其他</option>
            </select>
            <select class="search_option_select select_function"  onchange="functionChange(this.value)">
              <option value selected="selected"></option>
            </select>
            <select class="search_option_select select_job">
              <option value selected="selected"></option>
            </select>
          </div>
          <div class="search_line">
            <div class="search_option_text">地址</div>
            <select class="search_option_select half select_province" onchange="provinceChange(this.value)">
              <option value=""></option>
              <option value="110000">北京市</option>
              <option value="120000">天津市</option>
              <option value="130000">河北省</option>
              <option value="140000">山西省</option>
              <option value="150000">内蒙古自治区</option>
              <option value="210000">辽宁省</option>
              <option value="220000">吉林省</option>
              <option value="230000">黑龙江省</option>
              <option value="310000">上海市</option>
              <option value="320000">江苏省</option>
              <option value="330000">浙江省</option>
              <option value="340000">安徽省</option>
              <option value="350000">福建省</option>
              <option value="360000">江西省</option>
              <option value="370000">山东省</option>
              <option value="410000">河南省</option>
              <option value="420000">湖北省</option>
              <option value="430000">湖南省</option>
              <option value="440000">广东省</option>
              <option value="450000">广西壮族自治区</option>
              <option value="460000">海南省</option>
              <option value="500000">重庆市</option>
              <option value="510000">四川省</option>
              <option value="520000">贵州省</option>
              <option value="530000">云南省</option>
              <option value="540000">西藏自治区</option>
              <option value="610000">陕西省</option>
              <option value="620000">甘肃省</option>
              <option value="630000">青海省</option>
              <option value="640000">宁夏回族自治区</option>
              <option value="650000">新疆维吾尔自治区</option>
              <option value="710000">台湾省</option>
              <option value="810000">香港特别行政区</option>
              <option value="820000">澳门特别行政区</option>
            </select>
            <select class="search_option_select half select_city">
              <option value selected="selected"></option>
            </select>
            <div class="search_option_blank">&nbsp;</div>
            <div class="search_option_text double">薪资(千/月)</div>
            <input class="search_option_input salary" id="salary_min" type="text" name="salary_min" value="<%= searchData.salary_min %>">
            <div class="search_option_blank salary">-</div>
            <input class="search_option_input salary" id="salary_max" type="text" name="salary_max" value="<%= searchData.salary_max %>">
          </div>
        </div>
        <ul class="list_title">
          <li class="list_title_column">姓名</li>
          <li class="list_title_column_small">学历</li>
          <li class="list_title_column">院校专业</li>
          <li class="list_title_column_small">工作经验</li>
          <li class="list_title_column_small">居住地</li>
        </ul>
        <% for (var i in resumeList){ %>
        <ul class="list_row">
          <input type="hidden" class="hidden_resumeId" value="<%= resumeList[i]._id %>" disabled="disabled">
          <li class="list_column"><a href="/<%= userdata.usertype %>/resume_browse?_id=<%= resumeList[i]._id %>"><%= resumeList[i].realname %></a></li>
          <li class="list_column_small"><% if(resumeList[i].education == 11){ %>博士研究生<% }else if(resumeList[i].education == 12){ %>博士研究生结业<% }else if(resumeList[i].education == 13){ %>博士研究生肄业<% }else if(resumeList[i].education == 14){ %>硕士研究生<% }else if(resumeList[i].education == 15){ %>硕士研究生结业<% }else if(resumeList[i].education == 16){ %>硕士研究生肄业<% }else if(resumeList[i].education == 17){ %>研究生班<% }else if(resumeList[i].education == 18){ %>研究生班结业<% }else if(resumeList[i].education == 19){ %>研究生班肄业<% }else if(resumeList[i].education == 20){ %>大学本科<% }else if(resumeList[i].education == 21){ %>大学本科结业<% }else if(resumeList[i].education == 22){ %>大学本科肄业<% }else if(resumeList[i].education == 23){ %>大学普通班<% }else if(resumeList[i].education == 24){ %>大学专科<% }else if(resumeList[i].education == 25){ %>大学专科结业<% }else if(resumeList[i].education == 26){ %>大学专科肄业<% }else if(resumeList[i].education == 27){ %>高职<% }else if(resumeList[i].education == 28){ %>高职结业<% }else if(resumeList[i].education == 29){ %>高职肄业<% }else if(resumeList[i].education == 30){ %>中等专科<% }else if(resumeList[i].education == 31){ %>中等专科结业<% }else if(resumeList[i].education == 32){ %>中等专科肄业<% } %></li>
          <li class="list_column"><%= resumeList[i].school %>-<%= resumeList[i].major %></li>
          <li class="list_column_small"><% if(resumeList[i].experience == 0){ %>无<%}else{%><%=resumeList[i].experience%>年<%}%></li>
          <li class="list_column_small"><%= resumeList[i].location_str %></li>
        </ul>
        <% } %>
      </div>
      <div class="page_box">
        <div class="pre_page_btn">
          &nbsp;
          <% if (page > 1){ %>
          <a onclick="prevPage(<%= page %>)" style="cursor: pointer;">上一页</a>
          <% } %>
        </div>
        <div class="page_text">
          <a><%= page %></a>
        </div>
        <div class="next_page_btn">
          <% if (page < maxpage){ %>
          <a onclick="nextPage(<%= page %>)" style="cursor: pointer;">下一页</a>
          <% } %>
          &nbsp;
        </div>
      </div>
    </div>
    <div class="footer">developed by cqh&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <script>
      $(".select_province").val("<%= searchData.location %>".slice(0, 2)+"0000");
      $.post('/index/get_city', {number:"<%= searchData.location %>".slice(0, 2)+"0000"}, function(data, status){
        if (status == 'success'){
          if (data.flag == '1'){
            var str = '<option value selected="selected"></option>';
            for (var i in data.status){
              str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
            }
            $(".select_city").empty().append(str).val("<%= searchData.location %>");
          }else {
            alert(data.status);
          }
        }else {
          alert('post failed');
        }
      });
      $(".select_industry").val("<%= searchData.job %>".slice(0, 2)+"0000");
      $.post('/index/get_function', {number:"<%= searchData.job %>".slice(0, 2)+"0000"}, function(data, status){
        if (status == 'success'){
          if (data.flag == '1'){
            var str = '<option value selected="selected"></option>';
            for (var i in data.status){
              str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
            }
            $(".select_function").empty().append(str).val("<%= searchData.job %>".slice(0, 4)+"00");
            $.post('/index/get_job', {number:"<%= searchData.job %>".slice(0, 4)+"00"}, function(data, status){
              if (status == 'success'){
                if (data.flag == '1'){
                  var str = '<option value selected="selected"></option>';
                  for (var i in data.status){
                    str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
                  }
                  $(".select_job").empty().append(str).val("<%= searchData.job %>");
                }else {
                  alert(data.status);
                }
              }else {
                alert('post failed');
              }
            });
          }else {
            alert(data.status);
          }
        }else {
          alert('post failed');
        }
      });
      $(".select_education").val("<%= searchData.education %>");
      $("#experience").val("<%= searchData.experience %>");
    </script>
  </body>
</html>