<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title><%= title %></title>
    <link href="/stylesheets/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_index.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_browse.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="big_title"><%= title %></div>
      <div class="user_area">
        <div class="username_area"><%= userdata.username %></div>
        <input type="hidden" class="hidden_username" value="<%= userdata.username %>" disabled="disabled">
        <input type="hidden" class="hidden_usertype" value="<%= userdata.usertype %>" disabled="disabled">
        <div class="toggle_box" style="display:none;">
          <div class="toggle_block modinfo_area admin_need_hide">修改信息</div>
          <div class="toggle_block chgpwd_area admin_need_hide">修改密码</div>
          <div class="toggle_block logout_area">退出登录</div>
        </div>
      </div>
    </div>
    <div class="nav_bar">
      <div class="nav_bar_blank"></div>
      <% if (userdata.usertype == 'person'){ %>
      <div class="nav_bar_select redirect_resume_button">简历管理</div>
      <div class="nav_bar_select redirect_jobsearch_button">职位搜索</div>
      <div class="nav_bar_select redirect_apprecord_button">申请记录</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_my_apprecord_button">我的申请</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_rcv_apprecord_button">收到的申请</div>
      </div>
      <% }else if (userdata.usertype == 'company') { %>
      <div class="nav_bar_select redirect_jobmgmt_button">职位管理</div>
      <div class="nav_bar_select redirect_appmgmt_button">应聘管理</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_my_appmgmt_button">我的投递</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_rcv_appmgmt_button">收到的应聘</div>
      </div>
      <div class="nav_bar_select redirect_peoplesearch_button">人才检索</div>
      <% }else { %>
      <div class="nav_bar_select redirect_infocheck_button">信息审核</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_offer_infocheck_button admin_infocheck">职位审核</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_reg_infocheck_button admin_infocheck">注册审核</div>
      </div>
      <div class="nav_bar_select redirect_search_button">检索</div>
      <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_offer_search_button admin_search">职位搜索</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_resume_search_button admin_search">简历搜索</div>
      </div>
      <% } %>
    </div>
    <div class="body_flexible">
      <div class="basic_information">
        <div class="big_name"><%= resumeData.realname %></div>
        <div><% if(resumeData.sex == 'male'){ %>男<% }else { %>女<% } %>
          &nbsp;|&nbsp;<%= resumeData.age %>岁&nbsp;|&nbsp;现居住地：<%= resumeData.location_str %></div>
        <div id="location_text"></div>
        <div>e-mail：<%= resumeData.email %></div>
      </div>
      <div class="sub_title">求职意向</div>
      <div class="text_line"><span class="attribute_name">工作性质：</span><span class="attribute_value"><% if(resumeData.job_type == 'fulltime'){ %>全职<% }else if(resumeData.job_type == 'parttime'){ %>兼职<% }else if(resumeData.job_type == 'intern'){ %>实习<% }else if(resumeData.job_type == 'fullOrPart'){ %>全/兼职<% } %></span></div>
      <div class="text_line"><span class="attribute_name">期望行业：</span><span class="attribute_value"><%= resumeData.job_str %></span></div>
      <div class="text_line"><span class="attribute_name">期望月薪：</span><span class="attribute_value"><%= resumeData.salary[0]*1000 %>~<%= resumeData.salary[1]*1000 %>元/月</span></div>
      <div class="sub_title">自身情况</div>
      <div class="text_line"><span class="attribute_name">工作经验：</span><span class="attribute_value"><% if(resumeData.experience == 0){ %>无<%}else{%><%=resumeData.experience%>年<%}%></span></div>
      <div class="text_line"><span class="attribute_name">学历：</span><span class="attribute_value"></span><% if(resumeData.education == 11){ %>博士研究生<% }else if(resumeData.education == 12){ %>博士研究生结业<% }else if(resumeData.education == 13){ %>博士研究生肄业<% }else if(resumeData.education == 14){ %>硕士研究生<% }else if(resumeData.education == 15){ %>硕士研究生结业<% }else if(resumeData.education == 16){ %>硕士研究生肄业<% }else if(resumeData.education == 17){ %>研究生班<% }else if(resumeData.education == 18){ %>研究生班结业<% }else if(resumeData.education == 19){ %>研究生班肄业<% }else if(resumeData.education == 20){ %>大学本科<% }else if(resumeData.education == 21){ %>大学本科结业<% }else if(resumeData.education == 22){ %>大学本科肄业<% }else if(resumeData.education == 23){ %>大学普通班<% }else if(resumeData.education == 24){ %>大学专科<% }else if(resumeData.education == 25){ %>大学专科结业<% }else if(resumeData.education == 26){ %>大学专科肄业<% }else if(resumeData.education == 27){ %>高职<% }else if(resumeData.education == 28){ %>高职结业<% }else if(resumeData.education == 29){ %>高职肄业<% }else if(resumeData.education == 30){ %>中等专科<% }else if(resumeData.education == 31){ %>中等专科结业<% }else if(resumeData.education == 32){ %>中等专科肄业<% } %></div>
      <div class="text_line"><span class="attribute_name">最高教育院校：</span><span class="attribute_value"><%= resumeData.school %></span></div>
      <div class="text_line"><span class="attribute_name">专业：</span><span class="attribute_value"><%= resumeData.major %></span></div>
      <div class="text_line"><span class="attribute_name">语言能力：</span></div>
      <% if(resumeData.first_forlang[0] != '0'){ %>
      <div class="text_line"><span class="attribute_value"><% if(resumeData.first_forlang[0] == '1'){ %>英语<% }else if(resumeData.first_forlang[0] == '2'){ %>日语<% }else if(resumeData.first_forlang[0] == '3'){ %>法语<% }else if(resumeData.first_forlang[0] == '4'){ %>德语<% }else if(resumeData.first_forlang[0] == '5'){ %>朝鲜语<% }else if(resumeData.first_forlang[0] == '6'){ %>其他<% } %>：<% if(resumeData.first_forlang[1] == '1'){ %>一般<% }else if(resumeData.first_forlang[1] == '2'){ %>良好<% }else if(resumeData.first_forlang[1] == '3'){ %>熟练<% }else if(resumeData.first_forlang[1] == '4'){ %>精通<% } %></span></div>
      <% } %>
      <% if(resumeData.second_forlang[0] != '0'){ %>
      <div class="text_line"><span class="attribute_value"><% if(resumeData.second_forlang[0] == '1'){ %>英语<% }else if(resumeData.second_forlang[0] == '2'){ %>日语<% }else if(resumeData.second_forlang[0] == '3'){ %>法语<% }else if(resumeData.second_forlang[0] == '4'){ %>德语<% }else if(resumeData.second_forlang[0] == '5'){ %>朝鲜语<% }else if(resumeData.second_forlang[0] == '6'){ %>其他<% } %>：<% if(resumeData.second_forlang[1] == '1'){ %>一般<% }else if(resumeData.second_forlang[1] == '2'){ %>良好<% }else if(resumeData.second_forlang[1] == '3'){ %>熟练<% }else if(resumeData.second_forlang[1] == '4'){ %>精通<% } %></span></div>
      <% } %>
      <% if(resumeData.third_forlang[0] != '0'){ %>
      <div class="text_line"><span class="attribute_value"><% if(resumeData.third_forlang[0] == '1'){ %>英语<% }else if(resumeData.third_forlang[0] == '2'){ %>日语<% }else if(resumeData.third_forlang[0] == '3'){ %>法语<% }else if(resumeData.third_forlang[0] == '4'){ %>德语<% }else if(resumeData.third_forlang[0] == '5'){ %>朝鲜语<% }else if(resumeData.third_forlang[0] == '6'){ %>其他<% } %>：<% if(resumeData.third_forlang[1] == '1'){ %>一般<% }else if(resumeData.third_forlang[1] == '2'){ %>良好<% }else if(resumeData.third_forlang[1] == '3'){ %>熟练<% }else if(resumeData.third_forlang[1] == '4'){ %>精通<% } %></span></div>
      <% } %>
      <div class="sub_title">专业课程</div>
      <div class="text_block"><%= resumeData.pro_courses %></div>
      <div class="sub_title">专业能力</div>
      <div class="text_block"><%= resumeData.pro_ability %></div>
      <div class="sub_title">个人评价</div>
      <div class="text_block"><%= resumeData.self_evaluation %></div>
      <div class="sub_title">奖惩情况</div>
      <div class="text_block"><%= resumeData.rewards_punishments %></div>
      <div class="button_line">
        <% if(userdata.usertype == 'person') {%>
        <div class="index_btn" onclick="toResumeMod('<%= resumeData._id %>')">修改</div>
        <% }else if(userdata.usertype == 'company'){ %>
        <div class="index_btn" onclick="toOfferDeliver()">投递</div>
        <% }else if(userdata.usertype == 'admin'){ %>
        <div class="index_btn" onclick="toPrivatize('<%= resumeData._id %>')">取消公开</div>
        <div class="index_btn" onclick="toDelete('<%= resumeData._id %>')">删除</div>
        <% } %>
        <div class="index_btn" onclick="javascript:history.back(-1);">返回</div>
      </div>
    </div>
    <div class="footer">developed by cqh&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="float_box">
      <div class="float_box_title">请选择需要投递的职位</div>
      <input type="hidden" class="hidden_companyname" disabled="disabled">
      <select class="float_box_select select_offer">
        <option value=""></option>
      </select>
      <div class="button_line float">
        <div class="index_btn" onclick="toSubOfferDeliver('<%= resumeData._id %>','<%= userdata.username %>')">确认</div>
        <div class="index_btn" onclick="cancelFloat()">取消</div>
      </div>
    </div>
  </body>
</html>
